<div class="login-container">
  <div class="login-card">
    <div class="header">
      <img src="logo.png" alt="logo">
      <h2>Connexion A  l'Espace Professionnel</h2>
      <p>Accédez à  votre plateforme Med-Connect en toute sécurité.</p>
    </div>

    <form (ngSubmit)="onSubmit()">
      <label for="identifier">Identifiant Professionnel (RPPS/ADELI)</label>
      <input type="text" id="identifier" [(ngModel)]="credentials.identifier" name="identifier" required>

      <label for="password">Mot de passe</label>
      <input type="password" id="password" [(ngModel)]="credentials.password" name="password" required>

      <div class="options">
        <input type="checkbox" id="rememberMe" [(ngModel)]="rememberMe" name="rememberMe">
        <label for="rememberMe">Se souvenir de moi</label>
        <a href="#">Mot de passe oublié ?</a>
      </div>

      <button type="submit" class="btn-primary">Se Connecter</button>
    </form>

    <div class="separator">
      <span>OU</span>
    </div>

    <button class="btn-secondary">Demander un Accès Professionnel</button>
  </div>
</div>
